/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

/*Variables*/
$header-title: 'Poller One';
$handwriting: 'Nothing You Could Do';

/*Font color map*/
$fontcolors:(
    "plainText": whitesmoke,
    "title": teal,
    "accent": orange,
)